asgiref==3.11.1
async-timeout==5.0.1
attrs==26.1.0
certifi==2026.6.17
charset-normalizer==3.4.7
dj-database-url==3.1.2
Django==5.2.0
django-cors-headers==4.6.0
django-filter==24.3
django-redis==5.4.0
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
drf-spectacular==0.28.0
gunicorn==23.0.0
idna==3.18
inflection==0.5.1
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
packaging==26.2
pillow==11.0.0
psycopg2-binary==2.9.10
PyJWT==2.13.0
python-dotenv==1.0.1
PyYAML==6.0.3
redis==8.0.1
referencing==0.37.0
requests==2.32.3
rpds-py==0.30.0
sqlparse==0.5.5
typing_extensions==4.16.0
ua-parser==1.0.2
ua-parser-builtins==202606
uritemplate==4.2.0
urllib3==2.7.0
user-agents==2.2.0
whitenoise==6.8.2
